In [1]:
import pandas as pd

data = pd.read_csv(r'../../data/processed/processed-data.csv')
data.head()

,Gender,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,WaitingTime,AppointmentDayOfWeek,WaitGroup,ChronicGroup,No-show
0,0,62,39,0,1,0,0,1,0,-1,4,5,2,0
1,1,56,39,0,0,0,0,1,0,-1,4,5,1,0
2,0,62,45,0,0,0,0,1,0,-1,4,5,1,0
3,0,8,54,0,0,0,0,1,0,-1,4,5,1,0
4,0,56,39,0,1,1,0,1,0,-1,4,5,0,0

#### First'o fall extract X and Y from our dataset.

In [2]:
x = data.drop('No-show', axis=1)
y = data['No-show']

In [3]:
x.dropna(inplace=True)

In [4]:
from sklearn.model_selection import train_test_split

xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.2, random_state=42)

In [5]:
from sklearn.svm import SVC

model = SVC()
model.fit(xtrain, ytrain)

:

:

In [ ]:
ypred = model.predict(xtest)

In [ ]:
from sklearn.metrics import accuracy_score, classification_report

score = accuracy_score(ytest, ypred)

print("Test Accuracy of the Best Model:", score)
print("\nClassification Report of the Best Model:")
print(classification_report(ytest, ypred))

### Let's scale our data to get more accurate result.

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(x)

xscaled = scaler.fit_transform(x)

In [ ]:
xtrain, xtest, ytrain, ytest = train_test_split(xscaled, y, test_size=0.2, random_state=42)

In [ ]:
from sklearn.svm import SVC

model = SVC()
model.fit(xtrain, ytrain)

In [ ]:
ypred = model.predict(xtest)

In [ ]:
from sklearn.metrics import accuracy_score, classification_report

score = accuracy_score(ytest, ypred)

print("Test Accuracy of the Best Model:", score)
print("\nClassification Report of the Best Model:")
print(classification_report(ytest, ypred))